body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p.level_1 {
	font-size: 160%;
}

p.level_2 {
	font-size: 140%;
	margin-left: 30px;
}

p.level_3 {
	font-size: 120%;
	margin-left: 60px;
}

p.level_4 {
	font-size: 100%;
	margin-left: 90px;
}

input.text_box_1 {
	width: 299px;
	margin-left: 2px;
}

div.my_pop_up {
	width: 350px;
}